*{
    padding: 0;
    margin: 0;
}

ul,li{
    list-style: none;
}

.huge{
    overflow: hidden;
    position:relative;
}

.small{
    width:120%;
    transform: translate(-8%, 0);

}

.wrapper-left{
    float:left;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 33%;
    padding-bottom: 20%;
    white-space:nowrap;
    background-image: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0.5),rgba(255,255,255,0.3),rgba(255,255,255,0.1));
}

.wrapper-middle{
    float:left;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 34%;
    padding-bottom: 20%;
    white-space:nowrap;
}

.wrapper-right{
    position: relative;
    overflow: hidden;
    width: 33%;
    padding-bottom: 20%;
    white-space:nowrap;
    background-image: linear-gradient(to right,rgba(255,255,255,0.1),rgba(255,255,255,0.3),rgba(255,255,255,0.5),rgba(255,255,255,0.7),rgba(255,255,255,0));
}
.sliders{
    position: absolute;
    height: 100%;
}
.slider{
    display:inline-block;
    width: 100%;
    height: 100%;
}
.slider img{
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}


.arrows{
    position: absolute;
    top: 50%;
    height: 20px;
    width: 100%;
}
.arrow{
    position: absolute;
    width: 80px;
    height: 45px;
    line-height: 20px;
    text-align: center;
    background: #ccc;
    cursor: pointer;
}

.arrow-left{
    left: 10px;
}
.arrow-right{
    right:10px;
}

.arrows img{
    width: 100%;
    height: 100%;
}

.dots{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 13%;
    line-height: 20px;
    text-align: center;
    opacity: 0.5;
}

.dot{
    display: inline-block;
    width: 10%;
    padding-bottom: 4%;
    margin: 0 12px;
    background-color: #ccc;
    filter:brightness(50%);
}

.dot.active{
    background-color: deepskyblue;
    filter:brightness(150%);
}

.dot img{
    width: 100%;
    height: 100%;
}