*{
    padding: 0;
    margin: 0;
}

ul,li{
    list-style: none;
}

.wrapper{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 600px;
    white-space:nowrap;
}
.sliders{
    position: absolute;
    height: 600px;
}
.slider{
    display:inline-block;
    width: 100%;
    height: 600px;
}
.slider img{
    width: 100%;
    height: 100%;
}

.arrows{
    position: absolute;
    top: 50%;
    height: 20px;
    width: 100%;
}
.arrow{
    position: absolute;
    width: 80px;
    height: 45px;
    line-height: 20px;
    text-align: center;
    background: #ccc;
    cursor: pointer;
}

.arrow-left{
    left: 10px;
}
.arrow-right{
    right:10px;
}

.arrows img{
    width: 100%;
    height: 100%;
}

.dots{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 45px;
    line-height: 20px;
    text-align: center;
}

.dot{
    display: inline-block;
    width: 80px;
    height: 45px;
    margin: 0 12px;
    background-color: #ccc;
    filter:brightness(50%);
}

.dot.active{
    background-color: deepskyblue;
    filter:brightness(150%);
}

.dot img{
    width: 100%;
    height: 100%;
}