html {
    height: 100%;
}
body {
    margin: 0;
    /* background-image: url(../pic/cover3.png); */
    transition : opacity 1s linear;
}
.background{
    height: 80%
}

#background img{
    width: 100%;
    position: absolute; /*图片采取绝对定位，均位于左上角，重叠在一起*/
    opacity: 0; /*初始不透明度为0，图片都看不见*/
    transition: opacity 2s linear; /*--重点--定义一个关于透明度的transition*/
  }
  #background img.active{
    opacity: 1; /*有active类的图片不透明度为1，即显示图片*/
  }

.content {
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, 0);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0,0,0,0);
    border:rgba(0,0,0,0);
}
h2 {
    font: 700 100px "Comic Sans MS";
    color: white;
    animation-iteration-count:1;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

.greeting-word{
    font-style:normal;
    font-family:"Times New Roman",Georgia,Serif;
    font-size: 490%
}